---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Header } from "@/sections/Header";
import { Hero } from "@/pages/service/sections/Hero";
import { ServiceDetail } from "@/pages/service/sections/ServiceDetail";
import { ServicesSection } from "@/pages/service/sections/ServicesSection";
import { FAQ } from "@/pages/service/sections/FAQ";
import { CTASection } from "@/sections/Footer/components/CTASection";
import { Footer } from "@/sections/Footer";

export async function getStaticPaths() {
  return [
    { params: { slug: "fencing" } },
    { params: { slug: "fence-repairs" } },
    { params: { slug: "decking" } },
    { params: { slug: "gates" } },
    { params: { slug: "sheds" } },
    { params: { slug: "garden-rooms" } },
  ];
}

const { slug } = Astro.params;
---

<BaseLayout title="Service - Ayrshire Fencing Group">
    <div class="text-neutral-600 text-lg not-italic normal-nums font-medium accent-auto bg-[#323232] box-border caret-transparent block tracking-[normal] leading-[27px] list-outside list-disc min-h-full pointer-events-auto text-start indent-[0px] normal-case visible border-separate font-manrope">
      <Header client:only="react" />
      <Hero slug={slug} client:only="react" />
      <ServiceDetail slug={slug} client:only="react" />
      <ServicesSection client:only="react" />
      <FAQ client:only="react" />
      <CTASection client:only="react" />
      <Footer client:only="react" />
    </div>
</BaseLayout>

